.background-with-shade {
    position: relative; 
    background: url('oooo.jpeg') no-repeat center center;
    background-size: cover; 
    height: 100vh; 
    width: 100%; 
  }
  
  .background-with-shade::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  
  .content {
    position: relative;
    z-index: 2; 
    color: white; 
    text-align: center;
    padding-top: 50px; 
  }
  