
body {
  margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 2px 10px rgba(240, 8, 8, 0.1);
  }
  
  .navbar-title  {
    color: #fbf9f9; 
    font-size: 25px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #f9f9f9; 
    font-size: 18px;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #7355e9; 
    
    
    
  }
  
  .nav-buttons {
    display: flex;
    gap: 10px;
  }
  
  .nav-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .nav-buttons .login-btn {
    background-color: #2b2b2b; 
    color: rgb(245, 242, 242);
  }
  
  .nav-buttons .signup-btn {
    background-color: white;
    color: #2b2b2b;
    border: 1px solid #2b2b2b; 
  }
  
  
  .nav-buttons button:hover {
    background-color: #007bff;
    color: white;
  }
  
  
  .footer {
    background-color: rgb(16, 16, 17); 
    padding: 40px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer .footer-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
  }
  
  
  
  .footer .footer-links {
    display: flex;
    gap: 50px; 
  }
  
  .footer .footer-links div {
    display: flex;
    flex-direction: row;
    
  }
  
  .footer .footer-links div h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer .footer-links div a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .footer .footer-links div a:hover {
    text-decoration: underline;
  }
  
  .footer .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer .footer-social h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer .footer-social-icons {
    display: flex;
    gap: 10px; 
    
  }
  
  .footer .footer-social-icons a {
    color: white;
    font-size: 24px;
  }
  
  .footer .footer-social-icons a:hover {
    color: #f0c14b; 
  }
  .footer .footer-social-icons img {
    width: 30px;
    height:30px;

  }